<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <!--配置扫描目录-->
    <context:component-scan base-package="top.trial.springmvc"/>
    <!--配置视图解析器bean-->
    <bean id="internalResourceViewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/jsp/springmvc/"/>
        <property name="suffix" value=".jsp"/>
    </bean>
    <!--配置自定义类型转换器-->
    <bean id="conversion" class="org.springframework.context.support.ConversionServiceFactoryBean">
        <property name="converters">
            <set>
                <bean class="top.trial.springmvc.utils.DateConverter"/>
            </set>
        </property>
    </bean>
    <!--配置文件解析器对象，此处id必须配置成multipartResolver，否则报错：由于没有提供multi-part配置，无法处理parts-->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="maxUploadSizePerFile" value="10485760"/>
    </bean>
    <!--配置SpringMVC拦截器-->
    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/interceptor"/><!--拦截哪一些-->
            <bean class="top.trial.springmvc.interceptor.MyInterceptorI"/>
        </mvc:interceptor>
        <mvc:interceptor>
            <mvc:mapping path="/interceptor"/>
            <bean class="top.trial.springmvc.interceptor.MyInterceptorII"/>
        </mvc:interceptor>
    </mvc:interceptors>
    <!--移除对js目录文件的拦截-->
    <mvc:resources location="/js/" mapping="/js/**"/>
    <!--配置启动springmvc注解支持，同时增加自定义类型转换器支持-->
    <mvc:annotation-driven conversion-service="conversion"/>
</beans>