<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.trial.mybatis.dao.StudentClassDao">

    <!--配置resultMap，解决实体类属性与表列名不一致的情况,以及一对多匹配情况，association的javatype属性可以没有？也没报错啊-->
    <resultMap id="StudentClassResultMap" type="top.trial.mybatis.entity.StudentEntity">
        <id column="ssi_id" property="studentId"/>
        <result column="ssi_name" property="studentName"/>
        <result column="ssi_age" property="studentAge"/>
        <result column="ssi_gender" property="studentSex"/>
        <association property="studentClass">
            <id column="sci_id" property="classId"/>
            <id column="sci_name" property="className"/>
            <id column="sci_describe" property="classDescribe"/>
        </association>
    </resultMap>

    <!--配置查询所有的方法，id需要跟方法名一致-->
    <select id="getAllStudents" resultMap="StudentClassResultMap">
        select *
        from sg_student_inf,
             sg_class_inf
        where SSI_CID = SCI_ID;
    </select>
</mapper>